# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Master workflow
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: go build -o build/_output/onos-e2t ./cmd/onos-e2t

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - uses: golangci/golangci-lint-action@v5.1.0
        with:
          version: latest
          args: -v --config ./.golangci.yml

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Unit tests
        run: go test -race github.com/onosproject/onos-e2t/...

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build Docker image
        run: |
          git clone https://github.com/onosproject/build-tools.git build/build-tools
          go mod vendor
          docker build . -f build/onos-e2t/Dockerfile -t onosproject/onos-e2t:latest
          rm -rf vendor

  buflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: buflint
        env:
          BUF_VERSION: 1.0.0
        run: |
          cd ..
          git clone https://github.com/onosproject/onos-lib-go.git
          cd onos-e2t
          docker run \
            -v `pwd`:/go/src/github.com/onosproject/onos-e2t \
            -v `pwd`/../onos-lib-go/api/asn1:/go/src/github.com/onosproject/onos-e2t/api/asn1 \
            -w /go/src/github.com/onosproject/onos-e2t/api \
            bufbuild/buf:$BUF_VERSION lint --path e2ap

  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: reuse lint
        uses: fsfe/reuse-action@v2

  fossa-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: FOSSA scan
        uses: fossa-contrib/fossa-action@v3
        with:
          fossa-api-key: 6d304c09a3ec097ba4517724e4a4d17d
